$primary: rgb(192,135,62);
$danger: rgb(90,39,8);
$success: rgb(216,183,114);

/*===========================
    Bootstrap override
===========================*/
.btn-primary, 
.btn-primary:visited,
.btn-primary:active:focus {
    background-color: $primary;
    border-color: darken( $primary, 5% );
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: darken( $primary, 5% );
    border-color: darken( $primary, 5% );
}

.btn-primary:focus, .btn-primary.focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem lighten( $primary, 25% );
}

.btn-success, 
.btn-success:visited,
.btn-success:active:focus {
    background-color: $success;
    border-color: darken( $success, 5% );
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active {
    background-color: darken( $success, 5% );
    border-color: darken( $success, 5% );
}

.btn-success:focus, .btn-success.focus, 
.btn-success:not(:disabled):not(.disabled):active:focus, 
.btn-success:not(:disabled):not(.disabled).active:focus, 
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem lighten( $primary, 25% );
}

.btn-danger, 
.btn-danger:visited,
.btn-danger:active:focus {
    background-color: $danger;
    border-color: darken( $danger, 5% );
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled):active {
    background-color: darken( $danger, 5% );
    border-color: darken( $danger, 5% );
}

.btn-danger:focus, .btn-danger.focus, 
.btn-danger:not(:disabled):not(.disabled):active:focus, 
.btn-danger:not(:disabled):not(.disabled).active:focus, 
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem lighten( $primary, 25% );
}

.form-control:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem lighten( $primary, 25% );
}

/*Label in forms*/
label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

/*Fonts*/
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}




/*Main desktop*/
body {
  overflow-x: hidden;
}

#container > div:first-child {
    position:fixed;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#container > div:nth-child(2) {
    margin-left:200px;
    position:absolute;
    overflow-y: scroll;
    overflow-x:hidden;
    padding:0px;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  
  .add-new-book-button {
      font-size: 35px;
      position: absolute;
      top: 35px;
      right: 30px;      
  }
}

.sidebar-nav > .sidebar-brand img{
    margin-top:20px;
    margin-bottom:5px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li a.active {
  background-color: rgba($primary,.2);
}
.sidebar-nav li a.active:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav>.sidebar-brand {
  //height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  //color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}


/*Background image*/
html{
    height:100%;
}
body{
    height: 100%;
    background: url(wallpaper2.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*Panels css*/
.panel{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
}


#books{
    padding:20px;
}
#books .card{
    width: 220px;
    height: 340px;
    float: left;
    margin:5px;
    overflow: hidden;
}

#books .card>.image{
  height:240px;
  width:100%;
}

#books > .card .image > img{
    padding:3px;
    width:auto;
    //height:100%;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width:100%;
}

#books .card .card-text{
    font-size:13px;
}
    
#books .card .card-title{
    text-align: center;
    font-size: 16px;
    height:45px;
    overflow:hidden;
}
#books .card .card-body{
    overflow: hidden;
    padding:0.5em;
    margin-bottom: 10px;
}
    
#books{
    .card{
        cursor: pointer;
        .card-action-delete{
            position:absolute;
            right:0px;
            top:0px;
            display: none;
        }    
        &:hover{
            .card-action-delete{
                display: block;
            }
        }
    }
}


/*CSS only for devise*/
#center-devise{
    background-color:rgba(255,255,255,0.7);
    border:1px solid #fff;
    padding:10px;
    width: 26%;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: calc(-13%);    
}

#center-devise input[type='password'], #center-devise input[type='email'], #center-devise input[type='button'], #center-devise input[type='submit']{
    width: 100%;
}



/*Loader*/
#loader{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);    
    z-index:999;
}

.sk-circle {
  $circleCount: 12;
  $animationDuration: 1.2s;

  margin: 40px auto;
  width: 45px;
  height: 125px;
  position: relative;

  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-circleBounceDelay $animationDuration infinite ease-in-out both;
  }

  @for $i from 2 through $circleCount {
    .sk-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
  }

  @for $i from 2 through $circleCount {
    .sk-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}


/*Forms centered in content area*/
    .center-form{
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #fff;
        padding: 10px;
        width: 26%;
        position: absolute;
        left: 50%;
        top: 10%;
        margin-left: calc(-13%);
    }

    .center-panel{
      display: table;
      position: absolute;
      width: 76%;
      left: 50%;
      margin-left: -38%;
      padding: 25px;
      border-spacing: 10px;      
    }
    .child-panel{
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #fff;
        padding: 10px;
        width: 50%;
        display: table-cell;
    }
    
/*Change font for all*/
body{
    font-family: 'Nunito', sans-serif;
}

/*Force bootstrap modal dialog to show*/
.modal{
    display: block;
    z-index:998;
    .close {display: none;}
    border: 1px solid #fff;
    
    .modal-content{
      background-color: rgba(255,255,255,0.97);
      border-color: #fff;
      .modal-title{
        font-size:16px;
        word-break: break-all;
        overflow:hidden;
      }
      .modal-header{
        border-bottom: 1px solid rgba(192, 135, 62, 0.15);
      }
      .modal-body{
        font-size:13px;
        word-break: break-all;
        overflow:hidden;
      }
      .modal-footer{
        border-top: 1px solid rgba(192, 135, 62, 0.15);
      }
      p{
        white-space: pre-wrap;
      }
    }
}

/*File upload css*/
.uploader {
  margin: 2em auto;
  max-width: 80%;
  text-align: center;
  min-height: 200px;
  position: relative;
}

.file-container {
  height: 100%;
  position: absolute;
  width: 100%;
  border:2px dashed $primary;
  padding:3px;
  border-radius:3px;
  overflow:hidden;
  h3{
    position:absolute;
    left:0px;
    top:0x;
    line-height: 190px;
    width:100%;
  }
}

.file-container.highlight{
  background-color: rgba($primary, 0.2);
}

.file-input {
  border: 4px dashed rgba(black, 0);
  height: 2em;
  transition: all 0.5s ease-in-out;
  width: 50%;
  border: 1px solid green;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-preview {
  margin: 2em 0;
  .preview-img{
    width:100%;
  }
  p{
    word-break: break-all;
  }
}

.target {
  border-color: rgba(black, 0.5);
  height: 5em;
  position: relative;
  width: 100%;
  
  &::after {
    background: white;
    content: "Drop That Heavy File Here.";
    font-size: 1.5em;
    font-weight: 500;
    height: 100%;
    left: 0;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
  
  &.hover {
    border-color: black;
  }
}


/*When we have no books*/
.no-books{
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-size:16px;
  >div{
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #fff;
    border-radius: 5px;  
  }
  button{
    padding: 5px 9px 2px 9px;
    i{
      font-size:35px;
      color: #fff;
    }
  }
}

/*Image gallery*/
.thumbnail{
  width: 180px;
  padding: 5px;
  height: 180px;
  float: left;
  overflow: hidden;
  position: relative;
  & img{
    max-width:100%;
    max-height:100%;
    display: block;
    margin: auto;
  }
  button{
    position: absolute;
    top:0px;
    right:0px;
    display: none;
  }
  &:hover{
    button{
      display: block;
    }
  }
}

.thumbnail.cover{
  border:1px solid $primary;
}
.thumbnail.can-cover{
  cursor: pointer;
}

/*Twitter typeahead override*/
.twitter-typeahead{
  width: 100%;
}

/*Hide author birthday by default when opening the edit page*/
#authorBirthdayGroup{
  display: none;
}

.search-box{
  position: fixed;
  top:-1px;
  right:18px;
  width:500px;
  height:120px;
  padding:10px;
  border-radius: 0 0 0 5px;
  transition: top 0.5s ease-in-out;
  i{
    cursor: pointer;
  }
  
  .options{
    width:100%;
  }
}

.search-box-show{
  width: 60px;
  height: 60px;
}

.search-box-hidden{
  top:-120px;
  transition: top 0.5s ease-in-out;
}

.filtered{
  position: fixed;
  top:-1px;
  right:50%;
  margin-left: -30px;
  width:60px;
  height:60px;
  padding:10px;
  border-radius: 0 0 5px 5px;
}

.hidden{
  display: none;
}

.user-alert {
  animation:alert 10s;
  -moz-animation:alert 10s infinite; /* Firefox */
  -webkit-animation:alert 10s infinite; /* Safari and Chrome */
}

@-moz-keyframes alert /* Firefox */ {
    0% {background:#e9ecef;color: #495057;}
    50% {background:$primary;color: #fff;}
    100% {background:#e9ecef;color: #495057;}
}

@-webkit-keyframes alert /* Safari and Chrome */ {
    0% {background:#e9ecef;color: #495057;}
    50% {background:$primary;color: #fff;}
    100% {background:e9ecef;color: #495057;}
}


/* The ribbons */
.corner-ribbon{
  width: 150px;
  background: #e43;
  position: absolute;
  top: 14px;
  left: -38px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  i{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size:24px;
    margin-top: 10px;
  }
}

/* Custom styles */
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}